/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */


#container
{
background-color: #51473d;
width: 600px;
margin: auto;


}

#topbar

{
height:220px;
width:600px;
font-family:Times;
text-align:right;
font-size:1.0em;
color: #eae7d2;
float:left;
   
background-image: url(../css/pics/coffey.jpg);
background-repeat: no-repeat;
background-position: 1px 16px;

}

#menu a
{
    display: none;
}

#menu{display:inline-block;
height:32px;}

#menu ul
{ 
    height:30px;
    margin: 5px -30px 5px -30px;
   list-style:none;
}

#menu li{
    text-align: center;
    position:relative;
    float:left;
}

#menu .active a{
    color:#888076;
    background:#eae7d2;
}

#menu ul li a{
    font-family:verdana;
    text-transform: capitalize;
    display:block;
    font-size: 14px;
    color: #eae7d2;
    margin-left:1px;
    padding: 8px 15px 8px 15px;
    background-color: #797066;
    
}

#menu a:hover
{
    background-color:#968C83;
}

#content {
    font-family:verdana;
    font-size:0.8em;
    text-align:left;
    line-height:20px;
    border: 1px solid black;
    padding:10px;
    background: #eae7d2;
    color: #797066;
}

#maincontent
{
    width: 350px;
    float:left;
    border-right: 1px dashed gray;
    margin-right: 10px;
    padding: 10px;
}

#maincontent h1
{
    font-family:times;
    font-weight: lighter;
    font-size: 2em;
}

img { float: left;
padding-right:7px;
}
#subcontent
{
    margin:auto;
    font-size:0.8em;
    padding-top:15px;
}

#subcontent h1
{
font-family: times;
font-size:1.6em;
font-weight: lighter;
}

#subcontent h2
{
font-family:times;
font-weight:100;
}


